.projects {
  background-color: #333333 !important;
  min-height: 90vh;
  padding-top: 15vmax;
  text-align: center;
  margin-top: 20px;
}
.projects h1{
  color:  #ffffff !important;
  font-size: 6em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(243, 243, 243, 0.5), 
               6px -2px 10px rgba(230, 103, 103, 0.8);
  position: relative;
  margin-bottom: 2rem;
}
.projects-heading {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #fffcfc;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.projectsWrapper {
  background-color: #333333;
  display: flex;
 text-indent:15px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.projectCard {
  width: 300px;
  background-color: #333333;
  padding: 15px;
  border-radius: 16px;
  text-decoration: none;
  text-align: left;
  box-shadow: inset 1px 0px 0px 13px rgba(92, 92, 92, 0.1), -6px -6px 12px rgba(70, 68, 68, 0.8);
  transition: all 0.5s;
  transform: translateX(-100vw);
  animation: projectCardAnimation 1s ease-in-out forwards 0.5s;
}

.projectCard:nth-child(even) {
  transform: translateX(100vw);
  flex-direction: row-reverse;
  animation: projectCardAnimation 1s ease-in-out forwards 1s;
}

.projectCard > div {
  width: 100%;
  background-color: #333333;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  justify-content: space-around;
}

.projectCard > div:first-child::after {
  content: "VIEW DEMO";
  width: 100%;
  height: 90%;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #333333;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(68, 68, 68, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.8);
}

.projectCard > div:first-child > h5 {
  color:  #ffffff !important;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(243, 243, 243, 0.5), 
               6px -2px 10px rgba(230, 103, 103, 0.8);
  position: relative;
}

.projectCard > div:last-child {
  padding: 3vmax;
}
blur
.projectCard > div:last-child > h4 {
  color:  #ffffff !important;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(243, 243, 243, 0.5), 
               6px -2px 10px rgba(230, 103, 103, 0.8);
  position: relative;}

.projectCard > div:last-child > p {
  color:  #ffffff !important;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(243, 243, 243, 0.5), 
               6px -2px 10px rgba(230, 103, 103, 0.8);
  position: relative;}

.projectCard > div:last-child > h6 {
  color:  #ffffff !important;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(243, 243, 243, 0.5), 
               6px -2px 10px rgba(230, 103, 103, 0.8);
  position: relative;
}
.asdf{
  color:  #333333 !important;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(243, 243, 243, 0.5), 
               6px -2px 10px rgba(230, 103, 103, 0.8);
  position: relative;
}
.projectCard > div > img {
  width: inherit;
}

.projectCard:hover div:first-child {
  filter: hue-rotate(240deg) ;
}

@keyframes projectCardAnimation {
  to {
    transform: translateX(0);
  }
}

.projects-note {
  color:  #ffffff !important;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: -6px 6px 15px rgba(243, 243, 243, 0.5), 
               6px -2px 10px rgba(230, 103, 103, 0.8);
  position: relative;
}

@media screen and (max-width: 600px) {
  .projectCard {
    flex-direction: column;
  }

  .projectCard:nth-child(even) {
    flex-direction: column;
  }

  .projectCard > div {
    justify-content: center;
  }

  .projectCard > div:last-child > p {
    text-align: center;
  }
}
